$bp-largest: 75em;/*1200/16*/
$bp-large: 68.75em;/*1100/16*/
$bp-medium: 56.25em;/*900/16*/
$bp-small: 41.25em;/*660/16*/
$bp-smallest: 37.5em;/*600/16*/
$bp-smallest-2: 31.25em;/*500/16*/
$bp-smallest-3: 25em;/*400/16*/
$bp-smallest-4: 21.25em;/*340/16*/




*{
 padding:0;
 margin:0;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px, 10px/16px*/

    @media only screen and (max-width: $bp-large){
    font-size: 50%; /*1rem = 8px, 8px/16px*/
    }

    @media only screen and (max-width: $bp-small){
        font-size: 46%; /*1rem = 7.5px, 7.5px/16px*/
        }
    
    @media only screen and (max-width: $bp-smallest-4){
        font-size: 43%; /*1rem = 8px, 8px/16px*/
        }    
}

body{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background-repeat: no-repeat;
    min-height:100vh;
    background-size: cover;
    font-weight: 400;
    line-height: 1.6;
}

::selection{
    background-color: var(--color-primary);
    color: #fff;
}